.BuildControls{
    width: 100%;
    background-color: rgb(143, 107, 40);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: 1px 2px 1px gray;
    margin: auto;
    padding: 10px 0;
}